.card {
    margin-top   : 10px;
}

.form-control {
    margin-top : 10px;

}

.status.error {
    background : #FF6666;
    color      : #333333;
    padding    : 20px;
}

.status.success {
    background : #66FF66;
    color      : #333333;
    padding    : 20px;
}