.status.error {
    background : rgba(157, 14, 3, 0.8);
    color      : #333333;
    padding    : 20px;
}

.status.success {
    background : rgba(15, 157, 88, 0.8);
    color      : #333333;
    padding    : 20px;
}

.all-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 30px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 600px;
    height: 310px;
    background-color: #ededed;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    font-size: 18px;
}

#add-news-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.card #ta-title {
    height: 35px;
    padding: 5px;

    font-size: 18px;
    color: #424242;
    border: 1px solid #919191;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.card #ta-content {
    height: 120px;
    width: 550px;
    resize: none;

    padding: 5px;
    font-size: 18px;
    color: #424242;
    border: 1px solid #919191;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.card label {
    margin: 10px 0 5px 10px;
}

.button-zone-news {
    display: flex;
    justify-content: space-around;
}

.button-post {
    width: 150px;
    height: 35px;
    padding-top: 8px;
    font-weight: bold;
    background-color: #0F9D58;
}

@media screen and (max-width: 830px) {
    .card {
        width: 375px;
    }

    .card #ta-content {
        width: 355px;
    }
}
